.container {
  width: 770px;
  background-color: #272d49;
  
}

.containerMain {
  border-radius: 1rem;
  background: var(--gradient-background-graph-container);
}

.containerTitle {
  color: #61c7ff;
  font-size: 1.5rem;
  font-weight: 600;
}



.graphTitleHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
  padding-top: 1rem;
}

.graphTime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.1rem;
  border-radius: 20px;
  background: #373d66;
}

.graphTime > span {
      margin: 0 0.5rem;
      padding: 0.7rem 1rem;
      border-radius: 1rem;
}

.timeActive {
  background: linear-gradient(90deg, #2ea6ea, #1e78b0);
}